@font-face {
  font-family: 'Dosis-Bold';
  src: url('fonts/Dosis-Bold.ttf');
}

@font-face {
  font-family: 'Dosis-Medium';
  src: url('fonts/Dosis-Medium.ttf');
}

@font-face {
  font-family: 'Dosis-Regular';
  src: url('fonts/Dosis-Regular.ttf');
}

@font-face {
  font-family: 'Dosis-Semibold';
  src: url('fonts/Dosis-SemiBold.ttf');
}

@font-face {
  font-family: 'poppins';
  src: url('fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'poppins-bold';
  src: url('fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'poppins-medium';
  src: url('fonts/Poppins-Medium.ttf');
}

* {
	font-family: 'poppins','Sans-Serif';
	transition: all 0.26s !important;	
}

.uppercase {
    text-transform: uppercase;
}

.border-bot1.contact span.float-end {
    padding-top: 5px;
    font-size: 16px;
}

p {
	font-size: 14px;
}

.pe-6 {
    padding-right: 6rem;
}

h1,h2,h3,h4,h5,h6, .title, a {
	font-family: 'Dosis-Medium', 'sans-serif';
	text-transform: uppercase;
}

h6 {
	font-family: 'Dosis-Medium', 'sans-serif';
	text-transform: initial;
}

h1.reg,h2.reg,h3.reg,h4.reg,h5.reg,h6.reg, .title.reg, a.reg {
	font-family: 'Dosis-Regular', 'sans-serif';
}

h1 {
	font-size: 64px;
}

h2 {
	font-size: 44px;
}

h3 {
	font-size: 32px;
}

.navbar.bg-grad-dark {
background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
}

.px-6 {
    padding-left: 160px;
    padding-right: 160px;
}

.border-bot1 {
    border-bottom: 1px solid #e1e1e1;
    padding: 10px 0px 10px 20px ;
}

.navbar-expand-lg .navbar-nav li.nav-item {
    width: 100%;
    font-size: 18px;
    text-align: center;   
    padding-top: 7px;
}

 .navbar-expand-lg .navbar-nav .nav-link {
    padding: 3px 10px;
    color: white;
    display: inline-block;

 }

 .navbar-expand-lg .navbar-nav .nav-link:hover, .navbar-expand-lg .navbar-nav .nav-link.active {
    background: #F77E0A;
    padding: 3px 10px;
    border-radius: 5px;
 }

nav.navbar ul.navbar-nav {
    width: 100%;
    padding-left: 30px;
}

nav.navbar .border-bot1.contact {
    padding: 7px 0px 7px 30px;
    position: absolute;
    width: calc(100% - 80px);
    top: -36px;
    left: 55px;
}

.navbar-collapse {
    position: relative;
}

.white {
    color: white;
}

.font-18 {
    font-size: 18px;
}

.font-14 {
    font-size: 14px;
}

.font-12 {
    font-size: 12px;
}

.font-24 {
    font-size: 24px;
}

.font-20 {
    font-size: 20px;
}

.carousel-img {
    height: 85vh;
}

.carousel-img .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: top;
    object-position: center;
}

section.carousel-img #carouselHome, section.carousel-img #carouselHome .carousel-inner {
    height: 100%;
}

section.carousel-img #carouselHome .carousel-indicators {    
    margin-bottom: 2rem;
    margin-left: 117px;
    list-style: none;
    justify-content: start;
}

.carousel-indicators [data-bs-target] {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 2px solid white;
    opacity: 1;
    background: transparent;
}

.carousel-indicators [data-bs-target] span {
    width: 10px;
    height: 10px;
    background: white;
    display: block;
    margin-left: 3px;
    border-radius: 50%;
}

section.carousel-img .carousel-indicators .active {
    border: 2px solid #F77E0A;
}

section.carousel-img .carousel-indicators .active span {
    background: #F77E0A;
}

.clip-path {
    clip-path: polygon(96% 20px, 100% 18%, 100% 100%, 15% 100%, 0 100%, 0 0);
    border-radius: 20px;
}

.bg-orange {
    background: #F77E0A;
}

section.section2.home-detail {
    margin-top: -100px;
}

.btn-ghost-white
{ background: transparent; color: white; border: 1px solid white; padding: 5px 22px ; border-radius: 5px; text-decoration: none; }

.btn-ghost-white:hover {
    background: white;
    color: #F77E0A;
}

.pos-relative {
    position: relative;
}

.clip-triangle {
    clip-path: polygon(0 0, 48% 0, 100% 100%);
}

.clip-triangle.abso-bottom {
    width: 70px;
    height: 50px;
    position: absolute;
    bottom: -45px;
    z-index: -1;
    left: 200px;
}

.rounded-triangle.abso-top {
    position: absolute;
    top: 0;
    right: 150px;
}

.rounded-triangle.abso-top:before {
  content: "";
  width: 40px;
  height: 40px;
  background: #F77E0A;
  position: absolute;  
  -webkit-transform: translateX(0) rotate(0deg);
  transform: translateX(0) rotate(0deg);
  top: 21px;
  right: -54px;
  border-radius: 0 20px 0 0;
}

.container {
    max-width: 1140px;
}

.service-content .bg-orange.rounded {
    border-radius: 30px !important;
    overflow: hidden;height: auto;
}

.btn-ghost-black
{ background: white; border: 1px solid #000; padding: 5px 22px ; border-radius: 5px; text-decoration: none; border-radius: 30px;
    color: #000;
    font-size: 14px;
 }

.btn-ghost-black:hover {
    background: #F77E0A;
    color: white;
    border: 1px solid #F77E0A;
}

.shadowy-bg {
    box-shadow: 2px 0px 15px -6px rgba(0,0,0,0.2);
-webkit-box-shadow: 2px 0px 15px -6px rgba(0,0,0,0.2);
-moz-box-shadow: 2px 0px 15px -6px rgba(0,0,0,0.2);
border-radius: 10px;
min-height: 307px;
}

.bg-gray {
    background: #f5f5f5;
}

span.orange-shape.me-1 {
    width: 20px;
    height: 15px;
    display: inline-block;
    background: #F77E0A;
    border-radius: 20px;    
    margin-bottom: 8px;
}

a.thumb-client {
    background: white;
    display: block;
    text-align: center;
    height: 90px;
    padding: 15px;
    border-radius: 15px;
}

.section4.client-list {
    height: 460px;
}

.footer-clip1 {
    clip-path: polygon(0 31%, 100% 0, 100% 100%, 0% 100%);
    background: rgb(39,76,196);
background: radial-gradient(circle, rgba(39,76,196,1) 12%, rgba(26,29,75,1) 100%);
overflow: hidden;
height: auto;
padding-bottom: 15px !important;
position: relative;
z-index: 1;
}

footer {
    margin-top: -90px;
}

.abso-orange-footer {
    clip-path: polygon(0 47%, 90% 0, 100% 100%, 0% 100%);
    background: #F77E0A;
    position: absolute;
    z-index: 0;
    top: -18px;
    height: 120px;
    width: 100%;
}

.fixed-chat {
    position: fixed;
    bottom: 70px;
    right: 15px;
    padding: 8px 10px;
    color: white !important;
    border-radius: 8px;
    background: #38af38;
    text-decoration: none;
    z-index: 10;
    background: linear-gradient(0deg, rgb(56 175 56) 0%, rgb(56 175 56) 100%);
}

.fixed-chat:hover {
    transform: scale(1.2);
    box-shadow: 2px 0px 15px -4px rgba(0,0,0,0.5);
-webkit-box-shadow: 2px 0px 15px -4px rgba(0,0,0,0.5);
-moz-box-shadow: 2px 0px 15px -4px rgba(0,0,0,0.5);
right: 30px;
background: linear-gradient(0deg, rgb(36 82 36) 0%, rgb(56 175 56) 100%);
}

.navbar .navbar-brand img {
    width: 126px;
}

.navbar .navbar-brand {
    margin-right: -26px;
}

footer .float-end img {
    width: 80px;
    filter: invert(1);
    margin-bottom: 10px;
}

p.white b {
    color: white;
}

.orange {
    color: #F77E0A;
}

.min-1vh {
    min-height: 100vh;
}

.abso-full-bg img {
    width: 100%;
    height: 102vh;
    object-fit: cover;
    object-position: top;
}

figure.abso-full-bg {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -1;
}

.backdrop-blur {
    backdrop-filter: blur(8px);
}

.below-navbar {
    padding-top: 178px;
}

.about-us .col-9.backdrop-blur, .our-services .col-9.backdrop-blur {
    min-height: 520px;
    border: 1px solid #bdbdbd;
    border-radius: 30px;
    padding-top: 50px !important;
    background: rgba(255,255,255,0.4);
}

.bold {
    font-weight: 700;
}

.client-logo img {
    width: 100%;
    border-radius: 23px;
}

a.client-logo:hover img {
    box-shadow: 2px 0px 15px -2px rgba(0,0,0,0.38);
-webkit-box-shadow: 2px 0px 15px -2px rgba(0,0,0,0.38);
-moz-box-shadow: 2px 0px 15px -2px rgba(0,0,0,0.38);
}

.bg-white {
    background: white
}

.our-services .shadowy-bg {
    min-height: 280px;
}

.our-services .col-10.backdrop-blur {
    height: 540px;
}

.our-services figure img {
    object-position: center;
}